/*
 * This css file is loaded soley for the login page
 */

/* CSS properties for Disclaimer dialogue box */
/* Using JQuery dialogue box to implement https://api.jqueryui.com/dialog/ */
.custom-dialogue {
    background: #ececec !important;
    text-align: left;
    
    width: 80% !important;
    width: 92.5%;
	max-width: 600px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}
.custom-dialogue-lang {
    background: #ececec !important;
    text-align: center;
    
    width: 80% !important;
    width: 92.5%;
	max-width: 250px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}

.ui-dialog .ui-dialog-buttonset {
    float: none !important;
    text-align: center;
}

.custom-dialogue .ui-dialog-titlebar-close {
    display: none;
}
.custom-dialogue-lang .ui-dialog-titlebar-close {
    display: none;
}

#body-login .disclaimer-link {
    color: blue;
}

#body-login a {
    color: black !important;
    font-weight: 0 !important;
}

/* Login Screen ------------------------------------------------------------- */

:root {
    --color-main-text: rgba(0, 0, 0) !important;
}

/* WCAG 1.4.3: Contrast */
/* Creates higher contrast between username/password placeholders in login form */
#body-login form .grouptop input,
#body-login form .groupbottom input {
    color: var(--color-main-text);
}

/* WCAG 2.4.7: Focus Visible */
/* Show focus indicator on password plaintext toggle */
#body-login form .groupbottom a.toggle-password :hover,
#body-login form .groupbottom #password[type=text] ~ a.toggle-password img {
    background: url('../img/password.svg');
}

/* WCAG 1.3.1: Login */
/* Hide lost password link because we're not using it anyways */
#body-login #lost-password {
    display: none;
}

/* WCAG 3.2.3: Login */
/* Hide link and slogan at the bottom of login page. Unnecessary information */
footer p.info {
    display: none;
}

#body-login .disclaimer-link:focus {
	border: 2px solid;
}
