/* App Navigation ----------------------------------------------------------- */

// WCAG: 2.4.7 Focus Visible
// Left navigation bar highlights on hover, focus and active
#app-navigation:not(.vue){
    > ul > li > a,
    > ul > li > a.active,
	> li > a,
	> ul > li > ul > li > a {
        &:hover, &:focus {
            background-color: var(--color-background-darker);
	    border: 2.5px solid var(--custom-border-dark);
    }
    }

    > ul > li > a.active,
	> li > a.active,
    > ul > li > ul > li > a.active,
    > ul > li.active {
        background-color: var(--color-background-dark);
    }

    // WCAG 3.2.3: Left nav panel
    // Add underline to WEBDAV link to indicate that it can be navigated to
    #app-settings-content > em > a {
        text-decoration: underline;
    }
}

